<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-left">
        <%= image_tag("#{@user.username.downcase}.jpg", class: "img-responsive profile-pic") %>
      </div>
       <div class="profile-left">
        <%= @user.username.capitalize %>
      </div>
      <hr>
      <div class="profile-left">
        <% if @user.city %>
          <i class="fa fa-compass"></i> 
          <%= @user.city %>
        <% end %>
      </div>
     
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
    </div>

    <div class="col-md-9">
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
       <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
       <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
      <p>Hello World</p>
    </div>

  </div> <!-- row -->
</div> <!-- container -->


<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
