<p class="text-center" id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-left text-center">
        
        <% if @user.avatar.url == "/images/original/missing.png" %>
          <i class="fa fa-coffee place-holder profile-pic"></i>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: "profile-pic" %>
        <% end %>
        <% if @user.first_name && @user.first_name != "" %>
            <h4 class="show-page-username"><%= @user.first_name.capitalize %></h4>
          <% else %>
           <h4 class="show-page-username"><%= @user.username %></h4>
        <% end %>
      </div>
      

      <hr>

        <% if @user.city && @user.city != "" %>

          <div class="profile-left">
            <i class="fa fa-compass"></i> 
            <%= @user.city %>
          </div>
          <% end %>
           <% if @user.email && @user.email != "" %>
           <div class="profile-left">
            <i class="fa fa-envelope-o"></i>
            <%= @user.email %>
          </div>
          <% end %>
           <div class="profile-left">
            <i class="fa fa-clock-o"></i>
            Joined <%= @user.created_at.strftime("%b %d, %Y") %>
          </div>
        <hr>
         
            <button class="btn btn-lg btn-custom btn-new-event" data-toggle="modal" data-target="#myModal">
              Create New Event
            </button>
         

          <%= render partial: 'events/modal' %>


   </div> <!-- col-md-3 -->

    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#events" data-toggle="tab">Happening Today</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
      </ul>
      <div class="tab-content">
        <!-- may add a fadein effect  -->
        <div class="tab-pane active" id="events">
          <br>
          <br>

          <%= render partial: 'events/list_show' %>

        </div>
        <div class="tab-pane" id="profile">

          <%= render partial: 'users/form_edit' %>

        </div>
      </div>
    </div> <!-- col-md-9 -->
  </div> <!-- row -->
</div> <!-- container -->

