<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    

    <div class="col-md-3">
      <div class="profile-left">
        <%= image_tag("#{@user.username.downcase}.jpg", class: "img-responsive profile-pic") %>
      </div>
       <div class="profile-left">
        <%= @user.username.capitalize %>
      </div>
      <hr>
        <% if @user.city %>
        <div class="profile-left">
          <i class="fa fa-compass"></i> 
          <%= @user.city %>
        </div>
        <% end %>
         <% if @user.email %>
         <div class="profile-left">
          <i class="fa fa-envelope-o"></i>
          <%= @user.email %>
        </div>
        <% end %>
         <div class="profile-left">
          <i class="fa fa-clock-o"></i>
          Joined <%= @user.created_at.strftime("%b %d, %Y") %>
        </div>
        <hr>
        

          <%= link_to user_events_new_path(@user) do %>
            <button class="btn btn-lg btn-custom">
              Create New Event
            </button>
          <% end %>
    </div>

    <div class="col-md-9">
      <h2 class="text-center">Happening Today</h2>

      <%= render partial: 'events/list_show' %>
     
      
    </div>

  </div> <!-- row -->
</div> <!-- container -->



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
