<table class="table">
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>Number Going</th>
			<th>Happening</th>
			<th>Your Event Status</th>
			
		</tr>
	</thead>
	<tbody>
		
		<% @events.each do |event| %>

			<%= content_tag_for(:tr, event) do %>
				<td>
					<%= link_to event_path(event) do %>
							<%= event.description.capitalize %> 
					<% end %>
				</td>
				<td><%= event.location %> </td>
				<td><%= event.users.count %> </td>

				<td>
					<% from_time = Time.now %>

					<!-- need to figure out how to properly work with dates, until then... -->
					in <%= distance_of_time_in_words(from_time, from_time + 50.minutes) %></td>
				<td> 
					<!-- identify whehter the current user is an attendee of the event being iterated through
					it feels like this method belongs in the users_controller but it is making use of 
					the specific event that is being iterated through -->

					<% event_attendee = event.attendees.find_by user_id: current_user.id %>
					
					<% if event_attendee.nil? %>

						<%= form_for(@attendee) do |f| %>
							<%= f.hidden_field :event_id, value: event.id %>
	            <%= f.submit %>
	          <% end %> 

	        <% else %>

	        	<%= link_to 'Unjoin', attendee_path(event_attendee.id)  , method: :delete, data: { confirm: 'Are you sure?' } %>

	       	<% end %>

        </td>

			<% end %> <!-- content_tag -->
		<% end %> <!-- @event.each do -->
	</tbody>
</table>