		
<table class="table">
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>Going</th>
			<th>Join</th>
		</tr>
	</thead>
	<tbody>
		
		<% @events.each do |event| %>
		



			<%= content_tag_for(:tr, event) do %>
				<td><%= event.description %> </td>
				<td><%= event.location %> </td>
				<td><%= event.users.count %> </td>
				<td> <%= form_for(@attendee) do |f| %>
						<%= f.hidden_field :event_id, value: event.id %>
            <%= f.submit %>
          <% end %> </td>

         <td><%= link_to 'Unjoin', attendee_path(@attendee_destroy.map {|attendee| attendee.id }.join.to_i)  , method: :delete, data: { confirm: 'Are you sure?' } %></td>


          

        
			<% end %>
			


		

		<% end %>

	</tbody>


</table>