		
<table class="table">
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>Going</th>
			<th>Join</th>
		</tr>
	</thead>
	<tbody>
		
		<% @events.each do |event| %>
		

			<%= content_tag_for(:tr, event) do %>
				<td><%= event.description %> </td>
				<td><%= event.location %> </td>
				<td><%= event.users.count %> </td>
				<td> <%= form_tag user_events_join_path(event) do %>
            <%= submit_tag %>
          <% end %> </td>
			<% end %>
			


		

		<% end %>

	</tbody>


</table>