<table class="table custom-table">
	<thead>
		<tr>
			<th>Event</th>
			<th>Neighborhood</th>
			<th>Number Going</th>
			<th>Happening</th>
			<th>Your Event Status</th>
			
		</tr>
	</thead>
	<tbody>
		
		<% @events.each do |event| %>

		<% if event.has_not_passed? %>

			<%= content_tag_for(:tr, event) do %>
				<td class="event-link">
					<%= link_to event_path(event) do %>
							<%= event.description.capitalize %> 
					<% end %>
				</td>
				<td><%= event.neighborhood %> </td>
				<td><%= event.users.count %> </td>

				<td>
					<% from_time = Time.now %>

					<% to_time = event.datetime %>

					<!-- need to figure out how to properly work with dates, until then... -->
					in <%= distance_of_time_in_words(from_time, to_time) %></td>
				<td> 
					<!-- identify whehter the current user is an attendee of the event being iterated through -->

					<% if event.user_is_event_organizer?(current_user) %>
						 
						 <%= link_to event_path(event), method: :delete, data: { confirm: 'Are you sure?' }   do %>
	            <button class="btn btn-md btn-custom">
	              Cancel Event
	            </button>
          	<% end %>

					<% elsif event.user_is_event_attendee?(current_user) %>

						<!-- create delete link to attendee object for current_user and event being iterated over -->

	           <%= link_to attendee_path(event.attendees.find_by user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' }   do %>
		            <button class="btn btn-md btn-custom">
		              Unjoin
		            </button>
          	<% end %>

	        <% else %> <!-- if current_user isn't event organize or going to event --> 

	        	<%= form_for @attendee do |f| %>
							<%= f.hidden_field :event_id, value: event.id %>
	            <%= f.submit "GoWyth", :class => "btn btn-md btn-custom" %>
	          <% end %> 

	       	<% end %>

        </td>

			<% end %> <!-- content_tag -->
			<% end %> <!-- event.has_not_passed? --> 
		<% end %> <!-- @event.each do -->
	</tbody>
</table>