<p id="notice"><%= notice %></p>

<!-- Event Owner  -->

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2><%= @event.description %></h2>
		<hr>
		
		<% if !@event.location.nil? %>
			<p><em>Meet at: </em><%= @event.location.capitalize %> </p>
		<% end %> 

		<% if !@event.date.nil? %>
			<p><em>Date: </em><%= @event.date.strftime("%A") %> </p>
		<% end %> 

		<% if !@event.date.nil? %>

		<!-- shoud use time_tag here  -->
			<p><em>Time:</em> <%= @event.time.strftime('%I:%M%p') %> </p>
		
		<% end %> 

		<hr> 

		<!-- feel like I'm about to need a method -->
		<div>


		Organizer: <%= image_tag @event_owner.avatar.url(:thumb), class: "organizer pull-right" %>
		<br>
		<br>
		<br>
		<br>

		<p>Going:</p>

		<% if !@attendees.nil? %>
			<%= render 'list_attendees' %>
		<% else %>
			<p>No users yet!</p>
		<% end %> 

		</div>

		

	</div>	

<!-- Meeting Date, Time  -->

<!-- Meeting Location  -->

<!-- Going -->


<!-- Join/Unjoin -->

	<div class="col-md-4">



	</div>	

</div> 

