<p id="notice"><%= notice %></p>

<!-- Event Owner  -->

<div class="row">
	<div class="col-md-4 col-md-offset-4 event-details">
		<h2><%= @event.description %></h2>
		<hr>

			<p class=""><em>Happening:</em></p>
			 <%= @event.date %> at <%= @event.time %> 
			 <br>
			 <br>  
		

		<p><em>Meet at:</em></p>
		<% if !@event.location.nil? %>
			 <%= @event.location.capitalize %>,   
		<% end %> 


		<%= @event.street_address %>, <%= @event.zip_code %>

		<hr> 

		<!-- feel like I'm about to need a method -->
		<div>

		<p>Organizer:</p> <%= @event_owner.username %> <%= image_tag @event_owner.avatar.url(:thumb), class: "organizer pull-right" %>

		<br>
		<br>
		<br>
		<br>

		<p>Going:</p>

		<% if !@attendees.nil? %>
			<%= render 'list_attendees' %>
		<% else %>
			<p>No one's coming wyth yet!</p>
		<% end %> 

		</div>

		<hr>

		<div class="text-center event-page-button">

	       	<% if @event.user_is_event_organizer?(current_user) %>

						 <%= link_to @event, method: :delete, data: { confirm: 'Are you sure?' }   do %>
	            <button class="btn btn-lg btn-custom">
	              Cancel Event
	            </button>
          	<% end %>

					<% elsif @event.user_is_event_attendee?(current_user) %>

	           <%= link_to attendee_path(@event.attendees.find_by user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' }   do %>
	            <button class="btn btn-lg btn-custom">
	              Unjoin
	            </button>
          	<% end %>

	        <% else %> <!-- if current user is neither the organizer or already going  -->

	        	<%= form_for @attendee do |f| %>
							<%= f.hidden_field :event_id, value: @event.id %>
	            <%= f.submit "GoWyth", :class => "btn btn-lg btn-custom" %>
	          <% end %>  	

	       	<% end %>

		</div> <!-- text-center -->

	</div>	

<!-- Meeting Date, Time  -->

<!-- Meeting Location  -->

<!-- Going -->


<!-- Join/Unjoin -->

	<div class="col-md-4">



	</div>	

</div> 

